{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sistema Agendamentos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="main-container"> 
        <div class="container"> 

            <div class="sidbar"> 
                <p>WELCOME</p>
                <ul>
                    <li>Home</li>
                    <li>teste</li>
                    <li>teste</li>
                </ul>
            </div>

           <div class="container-form">
            
                <form class="body-form">
                    <h1>Login</h1>
                   
                    <input type="email" placeholder="Username">
                               
                    <input type="password" placeholder="password">

                    <button type="submit">Entrar</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
